.chart-container{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgb(from var(--spotify-secondary) r g b / 50%);
    box-shadow: 5px 5px 10px rgba(106, 106, 106, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(1px);
}
.chart-box{
    width: 350px;
    height: 350px;
    padding: 20px 20px;
}
@media screen and (max-width: 900px) {
    .chart-box{
        width: 300px;
        height: 300px;
        padding: 10px;
    }
}
