.app-header{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: 100%;
    height: fit-content;
    background-color: var(--spotify-secondary);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.app-header h1 {
    width:fit-content;
    padding: 1em 0;
}
@media screen and (max-width: 900px) {
    .app-header h1 {
        font-size: 1rem;
    }
}