.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    padding: 1em 0;
}
.footer p{
    color: var(--spotify-text);
    font-size: 1.1em;
}

@media screen and (min-width: 1600px) {
    .footer p{
        font-size: 1.5em;
    }
}