.artists-grid {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.hero-card {
    flex-basis: 100%;
    height: 350px;
    border-radius: 20px;
    background-size: cover;
    background-position: center 30%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

.hero-card:hover {
    transform: scale(1.01);
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    color: white;
    gap: .5em;
}
.hero-name {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
.hero-genres {
    color: #dddddd;
    font-size: 1rem;
    text-transform: capitalize;
}
.hero-tracks {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 12px;
    max-width: 400px;
}
.hero-tracks-title {
    margin: 0 0 .5em 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--spotify-green);
    font-weight: bold;
}
.hero-track-list {
    display: flex;
    flex-direction: column;
    color: var(--spotify-green);
    font-size: 1rem;
    margin-bottom: .4em;
    font-weight: 600;
    gap: .3em;
    list-style-position: inside;
}

.hero-track-list span{
    color: white;
}

.small-card {
    aspect-ratio: 1 / 1;
    width: 220px; 
    flex: 0 0 220px; 
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.small-card:hover {
    transform: scale(1.03);
    z-index: 2;
}

.small-card-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.792) 0%, rgba(0, 0, 0, 0.529) 50%, rgba(0,0,0,0) 100%);
    display: flex;
    align-items: flex-end;
    padding: 20px;
    opacity: 0; 
    transition: 0.3s ease;
}

.small-card:hover .small-card-overlay {
    opacity: 1;
}

.small-card-info {
    width: 100%;
}

.small-name {
    color: white;
    font-size: 1.3rem;
    margin: 8px 0 0 0;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.rank-badge {
    background: #1DB954;
    color: black;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    width: 40px;
}

@media (max-width: 768px) {
    .artists-grid {width: 100%;}
    .hero-card { height: 450px; }
    .hero-name { font-size: 2.2rem; }

    .small-card {
        width: calc(50% - 10px);
        flex: 0 0 calc(50% - 10px);
    }
    
    .small-card-overlay { opacity: 1; }
}

@media (max-width: 480px) {
    .small-card {
        width: 100%;
        flex: 0 0 100%;
    }
}