.action-btn {
  background-color: var(--spotify-green);
  width: 100%;
  color: var(--spotify-secondary);
  border: none;
  padding: 15px 35px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.action-btn:hover {
  transform: scale(1.05);
  background-color: var(--spotify-green-hover);
}